# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
venv/
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Uploads
# ==========================
uploads/

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Environment Files
# ==========================
.env.*
.env

# Project documentation files
StarUml for project/